<div class="main">
  <h1>Track Your Expenses Like Never Before</h1>
  <p>Take Control of your finaces with our powerful Expense Tracker Application</p>
  <div class="center-button">
    
      <button class="btn" routerLink="/sign-up">Sign Up Now</button>
    
  </div>
</div>



<div class="about-hero">
  <div class="budget-manager">
    <i class="fas fa-wallet"></i>
    <h3>Budget Manager</h3>
    <p>Track and manage your budget efficiently.</p>
  </div>
  <div class="analyze">
    <i class="fas fa-chart-line"></i>
    <h3>Analyze</h3>
    <p>Analyze your spending patterns with detailed insights.</p>
  </div>
  <div class="access">
    <i class="fas fa-cloud"></i>
    <h3>Access Anywhere</h3>
    <p>Access your expenses anytime, anywhere securely.</p>
  </div>
</div>

